*,p{
    margin: 0;
    box-sizing:border-box;
    list-style: none;
}
body{
    background-color:azure;
    font-family:Georgia, 'Times New Roman', Times, serif;
    max-width: 100%;
}
header{
    background-color:#131921;
    display:flex;
    align-items:center;
    position:sticky;
    top:0;
    z-index: 100;
    padding:5px;
  

}
.logo a img{
    width:100px;
    padding-right: 20px;
    margin-top:10px;
}
.world{
    text-decoration: none !important;
    color:yellow;
    margin-top:-1%;
    margin-left:-2%
}
.header__search {
    display: flex;
    flex: 1 auto;
    align-items: center;
    border-radius: 10px;
    margin-left:37%;
    margin-top:-5%
    
}
.dropdown{
    color:rgb(10, 6, 1);
    height: 35px;
    font-size:medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border: 2px solid orange; 
}
.search-box{
    display: flex;
    margin-left:58%;
    margin-top:-5%;
}
.search-box input{
    height:34px;
    padding: 10px;
    border: 2px solid orange;
    width:100%;
    margin-top:1%
}
.search-box:focus{
    border-radius: 5px;
}
.search-box>i{
    background-color:orange;
    height:33px;
    line-height:33px;
    text-align:center;
    padding:0 8px;
    border: 2px solid orange;
    margin-top: 1%;
}

nav{
    display: flex;
    justify-content: flex-end;
}
nav a{
    color:azure;
    text-decoration:none;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}
nav a:hover{
    color:azure;

}
nav span:first-child{
    font: size 10px;
}
nav span:nth-child(2){
    font-size:13px;
    font-weight:bold;
}
.cart{
    display: flex;
    flex-direction: row;
}
.cart a i{
    font-size: 25px;
    color:azure;
    margin-top:5px;

}
.cart>small{
    color:azure;
    font-weight: bold;
    font-size:15px
}
main{
    max-width: 100%;
    
}
#coupon{
    height:350px;
    width:600px;
    left:27%;
    background-image:url("https://i.pinimg.com/originals/31/43/7a/31437ac57ce802f93b60f14e98977ce9.jpg");
    visibility: hidden;
    z-index: 100;
    position: absolute;
    margin-top:5%;
    background-size:100% 350px;
   
}
.closes{
    position: absolute;
    margin-left: 92%;
    color: black;
    margin-top: -30%;
}
.location{
    display:flex;
    color:yellow;
    margin-left:5%;
    margin-top:-4%
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    margin: 0.3rem;
    padding: 1rem;
    width: 100%;
    max-height: 600px;
    max-width: 100%;
    background-color: azure;
    z-index: 1;
    box-shadow: 10px 20px 15px gray;
    cursor: pointer;
    color:rgb(68, 24, 189);
    font-weight: bold;
    transform: scale(0.95);
    transition: scale ease-in-out 500ms;
 
  }

  .product > .products {
    transform: scale(0.95);
    transition: scale ease-in-out 500ms;
  }
  .product > .products:hover{
      transform: scale(1);
      transition: scale ease-in-out 500ms;

  }
  .product__img {
    
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:0.5rem;
  }
  .img {
    transition: 1s;
    cursor: pointer;
  }
  .img:hover {
    transform: scale(1.1);
  }
.amazon_btn{
    background-color:black;
    
    width:100%;
    border:none;
    cursor: pointer;
    text-align: center;
    padding:0.5rem 1 rem;
}
.amazon_btn > img{
    height:20px;
    width:100%;
    background-color:black;
    background-size: cover;
}

footer{
    width:100%;
    background-color:black;
    color:azure;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    padding:2rem 0;
    
}

.footer_nav{
    margin: 1rem;
   
}
.footer_nav >h3{
    color:orange
}
.footer_nav >ul{
    padding:0.5rem;
}
.footer_nav >ul >li{
    list-style: none;
    cursor: pointer;
}
.footer_nav >ul >li:hover{
    color: orange;
}
@media screen and (max-width:950px){
    .row align-items-center{
        flex-direction: column;
        justify-content:center;
        align-items:center;
    }
}
@media screen and (max-width:768px){
    .product{
        width:500px;
        height:350px;
    }
    .product_img{
        width:350px;
        height:350px;
    }
}
@media screen and (max-width:678px){
    .search-box{
        width: 100%;
    }
    .footer_nav{
        width:35%
    }
}